In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
df_train = pd.read_csv("train.csv")
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [ ]:
df = pd.get_dummies(df_train, columns=['VIP','CryoSleep','Transported','HomePlanet'], drop_first=True) #one-hot encoding
df.drop(columns=['PassengerId','Name','Destination','Cabin'],inplace=True)

In [ ]:
df.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,VIP_True,CryoSleep_True,Transported_True,HomePlanet_Europa,HomePlanet_Mars
0,39.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
1,24.0,109.0,9.0,25.0,549.0,44.0,0,0,1,0,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,1,0,0,1,0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,0,0,0,1,0
4,16.0,303.0,70.0,151.0,565.0,2.0,0,0,1,0,0

In [ ]:
X = df.drop(columns=['Transported_True'])  #input
y = df['Transported_True']  #output

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) #80% for train and 20% for test

In [ ]:
from sklearn.preprocessing import StandardScaler #data scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
model = Sequential()
model.add(Dense(32,activation='relu',input_dim=10))
model.add(Dense(64,activation='linear'))
model.add(Dense(128,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 32)                352

 dense_17 (Dense)            (None, 64)                2112

 dense_18 (Dense)            (None, 128)               8320

 dense_19 (Dense)            (None, 1)                 129

=================================================================
Total params: 10,913
Trainable params: 10,913
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [ ]:
model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 2/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 3/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 4/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 5/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 6/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 7/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 8/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 9/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 10/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 11/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 12/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 13/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 14/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 15/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 16/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 17/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 18/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 19/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 20/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 21/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 22/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 23/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 24/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 25/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 26/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 27/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 28/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 29/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 30/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 31/100
218/218 [==============================] - 1s 5ms/step - loss: nan
Epoch 32/100
218/218 [==============================] - 1s 6ms/step - loss: nan
Epoch 33/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 34/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 35/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 36/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 37/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 38/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 39/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 40/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 41/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 42/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 43/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 44/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 45/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 46/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 47/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 48/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 49/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 50/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 51/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 52/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 53/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 54/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 55/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 56/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 57/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 58/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 59/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 60/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 61/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 62/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 63/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 64/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 65/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 66/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 67/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 68/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 69/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 70/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 71/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 72/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 73/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 74/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 75/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 76/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 77/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 78/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 79/100
218/218 [==============================] - 1s 3ms/step - loss: nan
Epoch 80/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 81/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 82/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 83/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 84/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 85/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 86/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 87/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 88/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 89/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 90/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 91/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 92/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 93/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 94/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 95/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 96/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 97/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 98/100
218/218 [==============================] - 0s 2ms/step - loss: nan
Epoch 99/100
218/218 [==============================] - 1s 2ms/step - loss: nan
Epoch 100/100
218/218 [==============================] - 0s 2ms/step - loss: nan

In [ ]:
y_value = model.predict(X_test_scaled)

55/55 [==============================] - 0s 1ms/step

In [ ]:
y_pred = np.where(y_value>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)  
accuracy

0.48476135710178264